# 🚀 Evita subir archivos innecesarios

# Entorno virtual de Python
virt/
venv/
_venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.vscode/
# PyCharm
.idea/
*.sublime-project
*.sublime-workspace

# Archivos temporales y logs
*.log
*.tmp

# PyInstaller
dist/
build/
*.spec

# Archivos específicos de macOS
.DS_Store

# Base de datos local 
*.sqlite3
*.sqlite
# *.db

